@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans&family=Zeyada&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "DM Sans", sans-serif;
}

.antont-font {
  font-family: "Anton", sans-serif;
}

.zeyada-font {
  font-family: "Zeyada", cursive;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 16px;
}

@media (max-width: 768px) {
  .grid-responsive {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(100%)) !important;
  }
}
